body {
  margin: 0;
}

:root {
  color: white;
  overflow-wrap: break-word;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#app {
  height: 100vh;
}

h1 {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

fieldset {
  background: var(--color-gamered);
  padding: 1em;
  border-radius: 1em;

}

legend {
  text-align: center;
  display: block;
  padding-top: 2em;
  
}

input {
  border-bottom: 0.1em solid;
  outline: 0;
}

